HWADDR={{ hwaddr }}
TYPE=Ethernet
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV4_DNS_PRIORITY=100
IPV6INIT=no
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
IPV6_FAILURE_FATAL=no
NM_CONTROLLED=no
NAME={{ iface }}
UUID={{ uuidforiface }}
DEVICE={{ iface }}
ONBOOT=yes
IPADDR=10.0.0.1
PREFIX=24
ZONE=
